__pycache__
.vector_cache
img/intro.png
*.jpg
*.vsidx
*.lock
.vs/FACT-AI-group18/v17/.wsuo
.vs/ProjectSettings.json
*.sqlite
*.sqlite-journal
data/coco/annotations/deprecated-challenge2017/train-ids.txt
data/coco/annotations/deprecated-challenge2017/val-ids.txt
data/coco/annotations/stuff_train2017_pixelmaps.zip
data/coco/annotations/stuff_val2017_pixelmaps.zip
data/pycocotools/__init__.py
data/pycocotools/_mask.pyx
data/pycocotools/coco.py
data/pycocotools/cocoeval.py
data/pycocotools/mask.py
*.png
outputs/vsf_vg_resnet50_layer4_0.1/valid_vsf_vg_resnet50_layer4_0.1.txt
.vs/FACT-AI-group18/v17/workspaceFileList.bin
outputs/teehee/valid_teehee.txt
outputs/test/ckpt_test.pth.tar
outputs/test/valid_test.txt
outputs/vsf_coco_resnet50_layer4_0.1/valid_vsf_coco_resnet50_layer4_0.1.txt
outputs/vsf_coco_resnet50_layer4_0.1/ckpt_tmp.pth.tar
outputs/vsf_coco_resnet50_layer4_0.1/ckpt_vsf_coco_resnet50_layer4_0.1.pth.tar
salo.job
outputs/coco_resnet18_layer4_ar=0.0_bs=512_epochs=5/best_model.pth.tar
*.tar
*.pt
*.txt
*.pt
*.json
