__pycache__
.vector_cache
img/intro.png
data/coco/coco_label_embedding.pth
data/README.md
data/vg/vg_labels.pkl
*.jpg
*.vsidx
*.lock
.vs/FACT-AI-group18/v17/.wsuo
.vs/ProjectSettings.json
*.sqlite
*.sqlite-journal
*.json
data/coco/annotations/deprecated-challenge2017/train-ids.txt
data/coco/annotations/deprecated-challenge2017/val-ids.txt
data/coco/annotations/stuff_train2017_pixelmaps.zip
data/coco/annotations/stuff_val2017_pixelmaps.zip
data/pycocotools/__init__.py
data/pycocotools/_mask.pyx
data/pycocotools/coco.py
data/pycocotools/cocoeval.py
data/pycocotools/mask.py
*.png
outputs/vsf_vg_resnet50_layer4_0.1/valid_vsf_vg_resnet50_layer4_0.1.txt
