
img/intro.png
data/coco/coco_label_embedding.pth
data/entities.txt
data/README.md
data/vg/vg_labels.pkl
*.vsidx
.vs/FACT-AI-group18/FileContentIndex/read.lock
*.txt
*.pt
*.zip
*.pyc
*.1
cocoapi-master/.travis.yml
*.cpp
data/vg/objects.json
